* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  gap: 10px;

  padding: 22px;
}

#profile_header {
  display: flex;
  gap: 10px;
}

button {
  width: 100px;
}

#content {
  height: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 14px;

  padding: 14px;
}

#card {
  padding: 18px 8px 18px 8px;

  border: 1px solid black;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  gap: 10px;

  width: 250px;
}

img {
  height: 250px;
}

h5 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h6 {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkgray;

  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
}
